.container {
  display: flex;
  gap: 10px;
  align-items: stretch;
  margin-bottom: 10px;
}

.container app-hero-search-bar {
  flex: 1;
}

.container a {
  flex: 0 0 auto;
  height: 56px;
}

.paginator-loader {
  pointer-events: none;
  opacity: 0.5;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
